#wrapper {
    position: relative;
	margin: 10px auto;
	width: 860px;
	height: auto;
	border: none; 
	clear: both;
	text-align: left;
}
#content {
	position: relative;
	background: url("../img/sfondo_content.jpg") repeat-y left top;
	width: 820px;
	margin: 0;
	top: 0;
	display: block;
	min-height: 400px;
}
#cont_right {
	position: relative;
	display: block;
	padding: 0 0 0 270px;
	left: 0;
	top: 10px;
	z-index: 2;
}
#ul_repertorio {
	position: relative;
	padding: 0;
	margin: 0;
	width: 480px;
}
ul#nav 
{
    margin: 0 0 0 10px;
}
ul#nav li.facebook {
	position: relative;
	margin-left: 40px;
}
.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button.current, 
.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button {
    float: left;
    display: none;
    width: 0px;
    height: 0px; 
    overflow: hidden;
}
ul.simpleSlider {
    float: left;
}