/* simpleSlider default settings */
.simpleSlider {
    position: relative;
}

.simpleSlider ul,
.simpleSlider ul li {
	position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simpleSlider ul li {
    overflow: hidden;
}
.simpleSlider ul li img {
    border-radius: 15px;
}
.sfondo_slider {
    background: url("../img/gallery_footer.png") no-repeat left bottom;
    display: block;
	width: 436px;
	height: 64px;
	bottom: -1px;
    color: #FFF;
	position: absolute;
	z-index: 1001;
}
.simpleSlider div.simpleSlider-title {
	padding: 0 0 12px 20px;
}
.titolo_grande_slider {
	color:#FFF; 
	font-size: 20pt;
}
.titolo_piccolo_slider {
	color:#8396c0;
	padding: 5px 0 0 0;
}

.simpleSlider ol.simpleSlider-navigation-buttons {
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 11;
}

.simpleSlider ol.simpleSlider-navigation-buttons li {
    display: inline-block;
    margin: 3px;
}

.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button {
    display: block;
    border-radius: 4px;
    background: transparent;
    padding: 4px;
    color: #FFF;
    border: 1px solid #ACACAC;
}

.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button.current {
    background: #ACACAC;
    color: #000;
}

.simpleSlider .simpleSlider-navigation {
}

.simpleSlider .simpleSlider-navigation a.simpleSlider-navigation-previous,
.simpleSlider .simpleSlider-navigation a.simpleSlider-navigation-next {
    display: block;
    /*opacity: 1;*/
    padding: 0 10px; 
    position: absolute;
    bottom: 165px; /* for slider-height 360px and navigation-height 30px */
	width: 33px;
	height: 35px;
}

.simpleSlider a.simpleSlider-navigation-previous {
	top: 210px;
    right: 40px;
    background: url("../img/freccia_sx.png") no-repeat left bottom;
	z-index: 200;
}

.simpleSlider a.simpleSlider-navigation-next {
	top: 210px;
    right: 0px;
    background: url("../img/freccia_dx.png") no-repeat left bottom;
	z-index: 200;
}
