BODY {font-family:Tahoma, Verdana; font-size:11px; margin: 0; padding: 0; font-size:11px; background-color: #91C8FF; background-image: url(http://www.coralitaviucese.info/img/sfondo.jpg)}
img {border: 0}

/* CONTAINER */
#container {background-color: #F1F4FA; margin-left: auto; margin-right: auto; width: 960px;}
#contentleft {background: url(http://www.coralitaviucese.info/img/bordi.jpg) left repeat-y}
#contentright {background: url(http://www.coralitaviucese.info/img/bordi.jpg) right repeat-y}

/*BARRE AZZURRE TITOLI*/
.mback {background-image: none; width: 282px; height: 1px}
.mtitle {text-align: center; letter-spacing: 1px; word-spacing: 2px; color: #000000}
.mback_top {width: 282px; height: 36px; background-image: url(http://www.coralitaviucese.info/img/quadro_01.png); background-position: bottom; background-repeat: no-repeat}
.mback_bottom {width: 282px; height: 44px; background-image: url(http://www.coralitaviucese.info/img/quadro_03.png); background-position: bottom; background-repeat: no-repeat}
.mback_center {background-image: url(http://www.coralitaviucese.info/img/quadro_02.png); background-repeat: repeat-y; height: 100px}

/*LINK*/
A:link, A:visited {color:#0000CC; font-size:11px; text-decoration:none; font-weight: bold}
A:hover {color:green; text-decoration:none; font-size:11px}

TABLE {font-size:11px} 
.tbl_skin {background-color: #d9e7ff; font-size:11px; border: 1px solid #9EB4C7} 

h3 {font-family:Tahoma, Verdana; font-size:13px}
.lkVis {color:blue; font-size:11px; text-decoration:underline}
.lkHover {color:green; text-decoration:none; font-size:11px}
.trGuestScuro {font-weight: bold;color: #FFFFFF;background-color: #5EAEFF}
.trGuestChiaro {font-weight: bold;color: #000099;background-color: #9DCEFF}
.sfondoElenco {font-size:11px; background-color: white}
input, textarea, select {font-family: Tahoma, Verdana; font-size: 11px; background-color: #F3F5F7; border: 1px solid #A4B8CA; vertical-align: middle}
.copyBottom {height: 34px; background-image: url(http://www.coralitaviucese.info/img/footer.gif); color:#ffffff}
.title {background-image: url(http://digilander.libero.it/exodusskins/autumnea/tile_sub.gif); background-color: #B7C6D4; border-top: 1px solid #9EB4C7; border-bottom: 1px solid #9EB4C7}


.bordoend {border: solid 1px #cccccc; background-color: #ffffff; margin-left: 10px; margin-right: 10px; padding: 5px;}	

#box_link li {
    width: 150px;
    height: 175px;
    display: inline-block;
    float: left;
    box-shadow: 0 2px 3px #666666;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 7px;
    margin: 10px;
    behavior: url(css/PIE.htc); /* questo sempre per ultimo! */
}
