<div class="section section-about-us" >
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center">
                <h2 class="title">Foto</h2>
                <div class="form-group">

                    <div class="section" id="carousel">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <div id="carouselExampleControls" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="{{index}}" ng-class={'active':$index==0} data-ng-repeat="(index,foto) in fotoCoro"></li>
                                            
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item" data-ng-class="{'active':index==0}" data-ng-repeat="(index,foto) in fotoCoro">
                                                <img class="d-block" data-ng-src="{{foto.url}}" alt="First slide">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>{{foto.descrizione}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

</script>
