<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center">
                <h2 class="title">Foto</h2>
                <div class="form-group">

                    <div class="section" id="carousel">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <div id="carouselExampleControls" class="carousel slide">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="{{index}}" ng-class={ 'active':$index==0} data-ng-repeat="(index,foto) in fotoCoro"></li>

                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item" data-ng-class="{'active':index==0}" data-ng-repeat="(index,foto) in fotoCoro">
                                                <img class="d-block" data-ng-src="{{foto.url}}" alt="First slide">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>{{foto.descrizione}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  text-center">
                <h2 class="title">Audio</h2>

                <div class="col-md-12">
                    <div class="col-sm-12 col-md-6 offset-sm-3">
                        <ul class="list-group">
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Lugsana.mp3">Lugsana - R. Dubra</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/AveMariaLemie.mp3">Ave Maria - F. L. Luciani</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/O_Magnum_Misterium.mp3">O Magnum Mysterium - I. Antognini</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Specchio_2016.mp3">Specchio - R. Bertoldo</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/yesterday_Toscana.MP3">Yesterday - J. Lennon, P. McCartney</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/montagneAddio_Toscana.MP3">Montagne Addio - G. Bregani; arm. L. Pietropoli</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/cortesani_Toscana.MP3">Cortesani - B. De Marzi</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/AnIrishBleassing_Spagna.mp3">An Irish Bleassing - arrang. J. E. Moore Jr.</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/OSacrumConvivium_Spagna.mp3">O Sacrum Convivium - L. Molfino</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Preghiera_Spagna.mp3">Preghiera - R. Padoin</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Montanara_Lemie.mp3">La Montanara - T. Ortelli</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Vallo_ilBiancoEDolceCigno.mp3">Il Bianco E Dolce Cigno - J. Arcadelt</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Vallo_estaTierra.mp3">Esta Tierra - Javier Busto su poesia di Francisco Pino</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Vallo_LaNeige.mp3">La neige - C. Favaro</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Vallo_SignoreDelleCime.mp3">Signore Delle Cime - B. De Marzi</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/parigi_ALombraDloFo.mp3">A L'Ombra Do Foo - P. Fornelli arm. Provera</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Viu_YouAreTheNewDay.mp3">You Are The New Day - J. David - Arr. P. Knight</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/Viu_Ambra.MP3">Ambra - R. Bertoldo</a></li>
                            <li class="list-group-item"><a target="_blank" href="Media/audio/BogoroDitseDevo_Roma.mp3">Bogoroditse Devo - S. Rachmaninov</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

</script>